[Unit]
Description=bs
After=network.target

[Service]
User=loki
Group=loki
WorkingDirectory=/home/loki/www/beerstat
Environment="PATH=/home/loki/www/beerstat/venv/bin"
ExecStart=/home/loki/www/beerstat/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:6016 app:app
Restart=always

[Install]
WantedBy=multi-user.target

